{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Tâche "{{ tache.nom }}"</h1>


    <div class="container">
      <div class="row tache">
        <div class="col-xs-9">
          <p>id : {{ tache.id }}</p>
          <p>Nom : {{ tache.nom }}</p>
          <p>Détails : {{ tache.details }}</p>
          <p>Date limite : {% if tache.date %}{{ tache.date|date('Y-m-d H:i:s') }}{% endif %}</p>
          <p>Importance : {% if tache.importance %}{{tache.importance.nom}} ({{tache.importance.poids}}){% endif %}</p>
          <p>Effectuée : {% if tache.effectuee %}Oui{%else%}Non{% endif %}</p>
        </div>
        <div class="col-xs-3 icon">
          <a href="{{ path('tache_index') }}"><img src="{{ asset('img/return.png') }}" alt="Retour"/></a>
          <a  href="{{ path('tache_edit', { 'id': tache.id }) }}"><img src="{{ asset('img/modify.png') }}" alt="Modifier"/></a>
          {{ form_start(delete_form) }}<input class="icon-delete" type="image" src="{{ asset('img/remove.png') }}" alt="effacer"/>{{ form_end(delete_form) }}

        </div>
      </div>
    </div>

{% endblock %}
